$fs-100: 0.75rem; // 12
$fs-200: 0.8125rem; // 13
$fs-300: 0.875rem; // 14
$fs-400: 0.9375rem; // 15
$fs-500: 1rem; // 16
$fs-600: 1.125rem; // 18
$fs-700: 1.75rem; // 28
$fs-800: 2.25rem; // 36
$fs-900: 3.5rem; // 56
