@use "../abstracts" as *;

.footer {
	--gap: 3rem;

	display: grid;
	padding-block: 3.25rem 2.375rem;
	justify-items: center;
	gap: var(--gap);
	@include mq("md") {
		--gap: 2rem;
		padding-block: 3.75rem 2.875rem;
		justify-items: start;
	}
	@include mq("lg") {
		padding-block: 4.6875rem 3rem;
	}
	a {
		text-decoration: none;
	}
	.grid {
		display: grid;
		width: 100%;
		justify-items: center;
		gap: var(--gap);
		@include mq("md") {
			justify-items: start;
			nav > ul {
				display: flex;
			}
		}
		@include mq("lg") {
			grid-auto-flow: column;
			justify-content: space-between;
		}
	}

	&__content {
		gap: var(--gap);
		position: relative;
		width: 100%;
		& > * + * {
			margin-top: var(--gap);
		}
		.even-columns {
			gap: 3rem;
		}
		@include mq("md") {
			--gap: 5rem;
			// grid-auto-flow: row;
			p {
				text-align: start;
			}
			nav > ul {
				display: flex;
			}
		}
		@include mq("lg") {
			& > p {
				max-width: 540px;
			}
		}
	}

	ul[arial-label="Social links"] {
		display: flex;
		justify-content: center;
		align-items: center;
		@include mq("md") {
			justify-content: flex-end;
		}
		@include mq("lg") {
			position: absolute;
			right: 0;
			top: 50%;
		}
		li:hover {
			background-color: $clr-accent-300;
		}
	}
}
